body{
	margin: 0px;
	padding: 0px;


	min-height: 100vh;
	
	display: grid;
	grid-template-rows: auto 0.4fr auto ;
}


.header{
	position: sticky;
	top: 0;
	z-index: 100;
	
	height: 78px;
	display: flex;
	background-color: #B1B2FF;

}


.header__tittle{
	padding: 5px;
	width: 20%;
	height: 80px;
	background-color: #B1B2FF;
	

}
.header__tittle h1{
	font-size: 30px;
	text-align: center;
}

.header__tittle a{
	text-decoration: none;

	color: black;
}

.nav__bar{
	height: 80px;
	width: 80%;

	padding: 5px;

	background-color:#B1B2FF;
}

.menu{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.menu li {

	flex-wrap: wrap;
	list-style: none;
}

.nav_title{
	padding: 10px;
	margin-left: 45px;
	font-size: 24px;
}

.nav_title a{
	color: black;
	text-decoration: none;
}

.nav_title a:hover{
	color: white;;
	text-decoration: underline;
}



.warenkorb__box {
	margin-left: 20%;

}

.warenkorb__icon:hover{
	transform: scale(0.9);
}

.number__artikel{
	width: 20px;
	padding: 5px;
	left: 25px;

	position: relative;
	bottom: 55px;

	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-radius: 45px;
	background-color: red;
}

.warenkorb__artikel:hover{
	transform: scale(1.001);
	
}



.warenkorb__icon a{
	display: block;
	height: 100%;
}

.warenkorb__icon img{

	width: 55px;
}

/*------------------------------------------------------------------------*/

.middle{
	height: auto;
	background-color: #AAC4FF;
	}


	

.middle__container{
	padding: 10px;
	margin: 15px;
	display: flex;
	flex-wrap: nowrap;

	background-color: #AAC4FF;

}

.artikel_container {
	width: 60%;
	height: auto;



}
.artikel__box {
	padding: 10px;
	display: flex;
	flex-wrap: nowrap;

	height: 150px;
	

	margin-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

	border-radius: 20px;
	background-color: white;


}
.artikel__box__image {
	height: 150px;


}

.artikel__box__image img{
	height: 150px;


}

.artikel__box_info{
	width: 100%;


	padding-left: 10px;

	overflow: hidden;
	
}

.artikel__box__title {
	position: relative;
	top: -20px;
	font-size: 18px;

}
.artikel__box__preis {
	position: relative;
	bottom: 15px;
	font-size: 22px;

}

.delete_artikel_icon{
	width: 50px;
	position: relative;
	top: -25px;
}

.delete_artikel_icon button{
	width: 50px;
	height: 50px;
	padding: 0;

	border: none;
	border-radius: 60%;

	
}






.delete_artikel_icon img{
	width: 50px;
}
.delete_artikel_icon:hover{
	transform: scale(0.95);
}


.artikel_container_to_kasse{
	width: 40%;
	height: auto;

	padding: 0 5px;

}

.artikel_container_to_kasse_container{
	
	padding: 10px;
	padding-bottom: 20px;
	height: 300px;
	border-radius: 20px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.kasse__tittle {
	text-align: center;
	font-size: 20px;

}
.kasse__artikel {
	font-size: 18px;
}
.kasse__preis {
	font-size: 18px;
}
.zum__kasse__button {
	position: relative;
	top: 95px;


	display: flex;
	justify-content: center;
	

}

.zum__kasse__button button:hover{
	transform: scale(0.95);
}





.zum__kasse__button button {
	align-items: center;
	background: #D2DAFF;
	border: 0 solid #E2E8F0;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	color: #1A202C;
	display: inline-flex;
	font-family: Inter, sans-serif;
	font-size: 1rem;
	font-weight: 700;
	height: 56px;
	justify-content: center;
	line-height: 24px;
	overflow-wrap: break-word;
	padding: 24px;
	text-decoration: none;
	width: auto;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
 }


.zum__kasse__button a{
	text-decoration: none;
	color: black;
	
}


.alert_text{
	position: absolute;
	top: -50px;
	color: red;
	
	font-weight: bold;
	z-index: 2;
}

/*---------------------------------------------------------------*/


.footer-basic {

	padding:40px 0;
	background-color:#ffffff;
	color:#4b4c4d;
 }

 .list-inline{
	display: flex;
	justify-content: center;
 }
 
 .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
 }
 
 .footer-basic li {
	padding:0 10px;
 }
 
 .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
 }
 
 .footer-basic ul a:hover {
	opacity:1;
 }
 
 .footer-basic .social {
	text-align:center;
	padding-bottom:15px;
 }
 
.social a{
	padding: 10px;
	margin-left:5px ;
}

 .social img{
	width: 45px;
 }	

 
 .footer-basic .social > a:hover {
	opacity:0.9;
 }
 
 .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
 }




/* Für Handy Geräten */
@media only screen and (max-width: 600px) {
	body{
		min-width: 75%;
		width: 100%;
		background-color: #D2DAFF;
	}
	.header{

		height: 265px;
	}
	.header__tittle{
		width: 37%;
	}

	.menu{
		display: block;
	}
	.nav_title{
		margin: 0;
	}
	.delete_artikel_icon{
		top: -15px;
	}
	.artikel_container_to_kasse{
		width: 100%;
	}


	.zum__kasse__button{
		top: 70px;
	}


	.middle{
		min-width: 75%;

	}
	.middle__container{

		display: block;

	}

	.warenkorb__box {
		margin-left: 15px;
	
	}
	.artikel_container{
		width: auto;
	}

	.artikel__box{
		height: auto;
	}
	.artikel__box_info{
		min-height: 160px;

	}
	.artikel__box__title{
		top: 0;
		font-size: 13px;
		overflow: hidden;
	}
	.artikel__box__title h2{
		margin: 0;
	}

	.artikel__box__image{
		height: 90px;
	}
	.artikel__box__image img{
		height: 90px;
	}


 }
 
  /* Für Tablet Geräten */
 @media only screen and (min-width: 600px) and (max-width: 1024px) {
	
	body{
		min-width: 75%;
		width: 100%;
		background-color: #D2DAFF;
	}

	.header{
		height: 120px;
	}

	.warenkorb__box {
		margin-left: 15px;
	
	}




	.header__tittle{
		width: 37%;
	}


	.nav_title{
		margin: 0;
	}
	.artikel_container_to_kasse{
		width: 100%;
	}
	.middle{
		min-width: 75%;

	}
	.middle__container{

		display: block;

	}


	.artikel_container{
		width: auto;
	}

	.artikel__box{
		height: auto;
	}
	.artikel__box_info{
		min-height: 160px;

	}
	.artikel__box__title{
		top: 0;
		font-size: 13px;
		overflow: hidden;
	}
	.artikel__box__title h2{
		margin: 0;
	}

	.artikel__box__image{
		height: 90px;
	}
	.artikel__box__image img{
		height: 90px;
	}
 }
 









